@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #2563eb;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.container-div {
    text-align: center;
    margin: auto;
    max-width: 50vw;
    min-height: 65vh;
}

.heading {
    color: var(--primary-color);
}

label, input {
    display: block;
    margin: auto;
    margin-top: 0.5rem;
}

label {
    color: white;
}

#dob-input {
    width: 40%;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
    border: 2px solid var(--primary-color);
    outline: #fff;
}

#number-input {
    width: 40%;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
    border: 2px solid var(--primary-color);
    outline: #fff;
}

#check-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 1rem;
    padding: 0.4rem 2rem;
    border-radius: 0.3rem;
    color: var(--primary-color);
    border-color: var(--primary-color);
    cursor: pointer;
}

#output-text {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.footer p {
    font-weight: 100;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: white;
}

.footer-header {
    margin-top: 2rem;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    color: white;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.footer .link {
    color: white;
}

.footer .social-link {
    text-decoration: none;
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}